.login_button {
  float: right;
  padding-right: 50px;
}

.containers {
  padding: 50px 50px 50px 50px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  color: white
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}